*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{

  min-height: 200vh;
}


.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(223, 144, 70);
  margin: 5px;
  border-radius: 10%;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  padding: 40px 100px; 
  z-index: 100000;
  background: #fff;
}

@media screen and (max-width: 800px) {
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    padding: 40px 10px; 
    z-index: 100000;
    background: #fff;
    }
  }

  .navLinks
  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    height: 60vh;
    top: -110vh;
    background-color: #fff;
    align-items: center;
    width: 40vh;
  }
  @media screen and (max-width: 376px) {
    #navlinkswidth{
      width: 30vh;
    }
  }

  .navLinks a{
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
  }
  .navLinks li{
    list-style: none;
  }

  .navActive{
    transform: translateY(117vh);
    transition: 0.5s;
  }

header .logo{
  position: relative;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;


}
header ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul .navlisttop{
  position: relative;
  list-style: none;
}

header ul li a{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.5s;
}
@media screen and (max-width: 750px) {
header .navunorderedtop .navlisttop .navatop{
    visibility: hidden;
    font-size: 0px;
  margin: 0 5px;
  }
}

header ul li a:hover{
  background: #f1f1f1;
  padding: 10px;
}


header.sticky{
  padding: 5px 100px;
  background: #fff;
}
@media screen and (max-width: 376px) {
  header.sticky{
    padding: 5px 25px;
    background: #fff;
  }
}

#topbanner{
  position: static;
  width: 100%; /* CHANGE WHEN A REAL BACKGROUND IS CHOSEN INSTEAD OF THE PLACEHOLDER. CHANGE TO A DIRECT NUMBER OF PIXELS, WHICH CHANGES DEPENDING ON MOBILE OR NOT (MEDIAINQ.)*/
  height: 75vh;
  background-size: cover;
}

@media screen and (max-width: 700px) {
  #topbanner{
    position: static;
    width: 100%;
    height: 50vh;
    background-size: cover;
  }
}

.navbarbottom {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
@media screen and (min-width: 380px) {
  .navbarbottom{
    visibility: hidden;
  }
}


.navbarbottom a {
  color: #f2f2f2;
  text-align: center;
  display: inline-block;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 0px auto;
}

.navbarbottom a:hover {
  background: #f1f1f1;
  color: black;
}

#Grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "b1 b1 b1 b1 b1"
  "b1 b1 b1 b1 b1"
  "s1 s1 s1 s1 s1"
  "s2 s2 s2 s2 s2"
  "s3 s3 s3 s3 s3"
}

#section1{
  grid-area: b1;
}

#section2{
  grid-area: s1;
}

#section3{
  grid-area: s2;
}

#section4{
  grid-area: s3;
}

.mainlinetext{
  font-weight: 400;
  font-size: 28px;
  margin: 10px;
}

.break{
  height: 150px;
}













@media screen and (min-width: 750px) {
  .hamburger{
    visibility: hidden;
    height: 0;
    width: 0;
}
}