*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbarbottom {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.navbarbottom a {
  color: #f2f2f2;
  text-align: center;
  display: inline-block;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 0px auto;
}

.navbarbottom a:hover {
  background: #f1f1f1;
  color: black;
}

#navbartop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: .5s;
  
}


#navbartop ul{
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}

#navbartop ul li{
  list-style: none;
}

#navbartop ul li a{
  list-style: 80px;
  color: #252525;
  padding: 5px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
}

#navbartop ul li a.active, ul:hover li a:hover{
  color: #fff;
  background: green;
}

#header1{
  width: 100%;
  height: 64vh;
  background: url(placeholder-300x300.png);
  background-size: cover;
}

nav.black{
  background: rgba(58, 46, 46, 0.966);
  height: 100px;
  padding: 10px 50px;
  color: white;
}


